In [1]:
#Nama  : Nurul Febi Anisa
#NIM   : 21090032
#Kelas : 2 C
#Jawaban No 1
#A
p = "Mahasiswa diruangan ini gemar shopping"
q = "Mahasiswa diruangan ini gemar makan"
notasi = p or q
print(notasi)

Mahasiswa diruangan ini gemar shopping

In [2]:
#Jawaban no 1
#B
print('====NOT====')
a = False
c = not a
print('JIka saya bangun pagi maka saya akan tidak terlambat kuliah =',a)
print('-------------- NOT')
print('JIka saya  bangun pagi dan hanya jika saya akan tidak terlambat kuliah =',c)

====NOT====
JIka saya bangun pagi maka saya akan tidak terlambat kuliah = False
-------------- NOT
JIka saya  bangun pagi dan hanya jika saya akan tidak terlambat kuliah = True

In [3]:
#Jawaban No 1
#C
a = "Orang tua kita terdiri dari ayah"
b = "Orang tua kita terdiri dari ibu"
notasi = a and b
print(notasi)

Orang tua kita terdiri dari ibu

In [4]:
#Jawaban no 1
#D
print('====NOT====')
a = False
c = not a
print('Tidak benar bahwa dia belajar Algoritma atau tidak belajar matematika =',a)
print('-------------- NOT')
print('Tidak benar bahwa dia belajar Algoritma tetapi tidak belajar matematika  =',c)

====NOT====
Tidak benar bahwa dia belajar Algoritma atau tidak belajar matematika = False
-------------- NOT
Tidak benar bahwa dia belajar Algoritma tetapi tidak belajar matematika  = True

In [5]:
#Jawaban No 2
#A
bilangan1 = {-1,-2,-3,-4,-5,-6,-7,-8,-9,-10,-11,-12,-13,-14,-15,-16,-17,-18,-19,-20,-21,-22,-23,-24,-25}
bilangan2 = (-1,-2,-3,-4,-5,-6,-7,-8,-9,-10,-11,-12,-13,-14,-15,-16,-17,-18,-19,-20,-21,-22,-23,-24,-25)
bilangan3 = [-1,-2,-3,-4,-5,-6,-7,-8,-9,-10,-11,-12,-13,-14,-15,-16,-17,-18,-19,-20,-21,-22,-23,-24,-25]
print(type(bilangan1))
print(type(bilangan2))
print(type(bilangan3))
print(bilangan1)
print(bilangan2)
print(bilangan3)

print("\n")

<class 'set'>
<class 'tuple'>
<class 'list'>
{-25, -24, -23, -22, -21, -20, -19, -18, -17, -16, -15, -14, -13, -12, -11, -1, -9, -8, -7, -6, -5, -4, -3, -2, -10}
(-1, -2, -3, -4, -5, -6, -7, -8, -9, -10, -11, -12, -13, -14, -15, -16, -17, -18, -19, -20, -21, -22, -23, -24, -25)
[-1, -2, -3, -4, -5, -6, -7, -8, -9, -10, -11, -12, -13, -14, -15, -16, -17, -18, -19, -20, -21, -22, -23, -24, -25]

In [6]:
#Jawaban no 2
#B
NamaKampus1 = ["ITB","UGM","UI","PHB","UNSOED","UNDIP","UPB","UNAIR","UPS","IPB","Universitas Trisakti","UBINUS","UNiversitas Trisakti","Universitas Telkom","Universitas Jambi"] # data list
NamaKampus2= ("ITB","UGM","UI","PHB","UNSOED","UNDIP","UPB","UNAIR","UPS","IPB","Universitas Trisakti","UBINUS","UNiversitas Trisakti","Universitas Telkom","Universitas Jambi") # data tuple
NamaKampus3 = {"ITB","UGM","UI","PHB","UNSOED","UNDIP","UPB","UNAIR","UPS","IPB","Universitas Trisakti","UBINUS","UNiversitas Trisakti","Universitas Telkom","Universitas Jambi"}  # data set
print(type(NamaKampus1))
print(type(NamaKampus2))
print(type(NamaKampus3))

<class 'list'>
<class 'tuple'>
<class 'set'>

In [7]:
#Jawaban No 2
#C
fungsi1 = {"Python","Java","C","PHP","CSS","C++","JavaScript","C#","SQL","HTML","KOTLIN"}
fungsi2 = ("Python","Java","C","PHP","CSS","C++","JavaScript","C#","SQL","HTML","KOTLIN")
fungsi3 = ["Python","Java","C","PHP","CSS","C++","JavaScript","C#","SQL","HTML","KOTLIN"]
print(type(fungsi1))
print(type(fungsi2))
print(type(fungsi3))
print(fungsi1)
print(fungsi2)
print(fungsi3)

print("\n")

<class 'set'>
<class 'tuple'>
<class 'list'>
{'Python', 'C#', 'JavaScript', 'SQL', 'C', 'C++', 'CSS', 'HTML', 'Java', 'KOTLIN', 'PHP'}
('Python', 'Java', 'C', 'PHP', 'CSS', 'C++', 'JavaScript', 'C#', 'SQL', 'HTML', 'KOTLIN')
['Python', 'Java', 'C', 'PHP', 'CSS', 'C++', 'JavaScript', 'C#', 'SQL', 'HTML', 'KOTLIN']

In [8]:
#Jawaban no 2
#D
NamaTeman1 = ["Ani","Hasnita","Kartika","Dewi","Lulu","Rahma","Cinta","Susi","Citra","Eliza","Lisa","Zahra","Bella","Roro","Widya","Sinta","Tyas","Cici","Sartika","Andi","Prabu"] # data list
NamaTeman2= ("Ani","Hasnita","Kartika","Dewi","Lulu","Rahma","Cinta","Susi","Citra","Eliza","Lisa","Zahra","Bella","Roro","Widya","Sinta","Tyas","Cici","Sartika","Andi","Prabu") # data tuple
NamaTeman3 = {"Ani","Hasnita","Kartika","Dewi","Lulu","Rahma","Cinta","Susi","Citra","Eliza","Lisa","Zahra","Bella","Roro","Widya","Sinta","Tyas","Cici","Sartika","Andi","Prabu"}  # data set
print(type(NamaTeman1))
print(type(NamaTeman2))
print(type(NamaTeman3))

<class 'list'>
<class 'tuple'>
<class 'set'>

In [9]:
#Jawaban No 2
#E
pekerjaan1 = {"Buruh","Pilot","Dokter","Nahkoda","Polisi","Guru","Dosen","Artis","Dosen","Nelayan"}
pekerjaan2 = ("Buruh","Pilot","Dokter","Nahkoda","Polisi","Guru","Dosen","Artis","Dosen","Nelayan")
pekerjaan3 = ["Buruh","Pilot","Dokter","Nahkoda","Polisi","Guru","Dosen","Artis","Dosen","Nelayan"]
print(type(pekerjaan1))
print(type(pekerjaan2))
print(type(pekerjaan3))
print(pekerjaan1)
print(pekerjaan2)
print(pekerjaan3)

<class 'set'>
<class 'tuple'>
<class 'list'>
{'Buruh', 'Nahkoda', 'Pilot', 'Guru', 'Dosen', 'Polisi', 'Artis', 'Dokter', 'Nelayan'}
('Buruh', 'Pilot', 'Dokter', 'Nahkoda', 'Polisi', 'Guru', 'Dosen', 'Artis', 'Dosen', 'Nelayan')
['Buruh', 'Pilot', 'Dokter', 'Nahkoda', 'Polisi', 'Guru', 'Dosen', 'Artis', 'Dosen', 'Nelayan']

In [10]:
#Jawaban no 2
#F
NamaKampus1 = ["ITB","UGM","UI","PHB","UNSOED","UNDIP","UPB","UNAIR","UPS","IPB","Universitas Trisakti","UBINUS","UNiversitas Trisakti","Universitas Telkom","Universitas Jambi","Universitas Bengkulu","Universitas Sam Ratulangi","Universitas Pasundan","Universitas Mulawarman","Universitas Bung Hatta"] # data list
NamaKampus2= ("ITB","UGM","UI","PHB","UNSOED","UNDIP","UPB","UNAIR","UPS","IPB","Universitas Trisakti","UBINUS","UNiversitas Trisakti","Universitas Telkom","Universitas Jambi","Universitas Bengkulu","Universitas Sam Ratulangi","Universitas Pasundan","Universitas Mulawarman","Universitas Bung Hatta") # data tuple
NamaKampus3 = {"ITB","UGM","UI","PHB","UNSOED","UNDIP","UPB","UNAIR","UPS","IPB","Universitas Trisakti","UBINUS","UNiversitas Trisakti","Universitas Telkom","Universitas Jambi","Universitas Bengkulu","Universitas Sam Ratulangi","Universitas Pasundan","Universitas Mulawarman","Universitas Bung Hatta"}  # data set
print(type(NamaKampus1))
print(type(NamaKampus2))
print(type(NamaKampus3))

<class 'list'>
<class 'tuple'>
<class 'set'>

In [11]:
#Jawaban No 3
#A
nilaiMTK = int(input("Masukkan nilai Matematika : "))
nilaiMTK = int(nilaiMTK)
if nilaiMTK <49 :
    print("Predikat E")
    print("TIDAK LULUS (DICUTIKAN)")
elif nilaiMTK >=59 and nilaiMTK <0 :
    print("Predikat D")
    print("TIDAK LULUS")
elif nilaiMTK >=60 and nilaiMTK <74 :
    print("Predikat C")
    print("LULUS")
elif nilaiMTK >=75 and nilaiMTK <80 :
    print("Predikat B")
    print("LULUS")
elif nilaiMTK  >=81 and nilaiMTK <100:
    print("Predikat A")
    print("LULUS")
    
print("\n")

Masukkan nilai Matematika : 85
Predikat A
LULUS

In [12]:
#Jawaban No 3
#B
nilai = int(input('Masukkan Nilai: '))
if nilai >= 81:
    print('Nilai A Dinyatakan Lulus')
elif nilai >= 69:
    print('Nilai B Dinyatakan Lulus')
elif nilai >= 60:
    print('Nilai C Dinyatakan Lulus')
elif nilai >= 49:
    print('Nilai D Dinyatakan tidak Lulus')

Masukkan Nilai: 77
Nilai B Dinyatakan Lulus

In [13]:
#Jawaban no 3
#C
kodeBarang = input("Masukkan Kode Barang : ")
hargaBarang = int(input("Masukkan Harga Barang : "))
jumlahBarang = int(input("Masukkan Jumlah Barang : "))

bayar = hargaBarang*jumlahBarang
if bayar >=150000 :
    diskon = bayar* (15/100)
    totalBayar = bayar - diskon
    print("total bayar = Rp. ",totalBayar)
else :
    print("anda tidak mendapatkan diskon")
    print("total bayar = Rp. ",bayar)

Masukkan Kode Barang : 253
Masukkan Harga Barang : 300000
Masukkan Jumlah Barang : 2
total bayar = Rp.  510000.0

In [14]:
#Jawaban no 3
#D
print("PROGRAM PYTHON MENGHITUNG LUAS SEGITIGA")

a = float(input("\nMasukan Alas  : "))
t = float(input("Masukan Tinggi: "))

luas = 0.5*a*t

print("\nLuas Segitiga  = %0.2f" % luas)

PROGRAM PYTHON MENGHITUNG LUAS SEGITIGA

Masukan Alas  : 7
Masukan Tinggi: 7

Luas Segitiga  = 24.50

In [15]:
#Jawaban nomor 4
#A
#Desimal ke biner
desimal = int(input('Masukkan NIK: '))
biner = bin(desimal).replace("0b","")
print("Binernya adalah", biner)

#Desimal ke oktal
desimal = int(input('Masukkan NIK: '))
hexa = hex(desimal).replace("0h","")
print("Hexanya adalah", hexa)

#Desimal ke oktal
desimal = int(input('Masukkan NIK: '))
oktal = oct(desimal).replace("0o","")
print("Oktalnya adalah", oktal)

#Desimal ke biner
desimal = int(input('Masukkan NIK: '))
biner = bin(desimal).replace("0b","")
print("Binernya adalah", biner)

#Desimal ke hexa
desimal = int(input('Masukkan NIK: '))
hexa = hex(desimal).replace("0h","")
print("Hexanya adalah", hexa)

Masukkan NIK: 3379044602020007
Binernya adalah 1100000000010011100100100001001011110000000010100111
Masukkan NIK: 3776044508020005
Hexanya adalah 0xd6a4adf8e7d25
Masukkan NIK: 3376344542020009
Oktalnya adalah 137754217104200651
Masukkan NIK: 3376547502020001
Binernya adalah 1011111111101111001110111010011011001101010110100001
Masukkan NIK: 3377445020200029
Hexanya adalah 0xbffc4b2ad6c5d

In [8]:
#Jawaban no 4
#B
NIM1 = 21090032
biner01 = bin(NIM1) .replace("0b","")
oktal01 = oct(NIM1) .replace("0o","")
hexa01 = hex(NIM1) .replace("0x","")
print("NIM1 = ",biner01,oktal01,hexa01)

NIM2 = 21090010
biner02 = bin(NIM2) .replace("0b","")
oktal02 = oct(NIM2) .replace("0o","")
hexa02 = hex(NIM2) .replace("0x","")
print("NIM2 = ",biner02,oktal02,hexa02)

NIM3 = 21090040
biner03 = bin(NIM3) .replace("0b","")
oktal03 = oct(NIM3) .replace("0o","")
hexa03 = hex(NIM3) .replace("0x","")
print("NIM3 = ",biner03,oktal03,hexa03)

NIM4 = 21090060
biner04 = bin(NIM4) .replace("0b","")
oktal04 = oct(NIM4) .replace("0o","")
hexa04 = hex(NIM4) .replace("0x","")
print("NIM4 = ",biner04,oktal04,hexa04)

NIM5 =21090080
biner05 = bin(NIM5) .replace("0b","")
oktal05 = oct(NIM5) .replace("0o","")
hexa05 = hex(NIM5) .replace("0x","")
print("NIM5 = ",biner05,oktal05,hexa05)

NIM1 =  1111011 173 7b
NIM2 =  1100010101 1425 315
NIM3 =  1000100010 1042 222
NIM4 =  1111101 175 7d
NIM5 =  1100001111 1417 30f

In [9]:
#Jawaban no 4
#C
password1 = 123
biner01 = bin(password1) .replace("0b","")
oktal01 = oct(password1) .replace("0o","")
hexa01 = hex(password1) .replace("0x","")
print("password1 = ",biner01,oktal01,hexa01)

password2 = 789
biner02 = bin(password2) .replace("0b","")
oktal02 = oct(password2) .replace("0o","")
hexa02 = hex(password2) .replace("0x","")
print("password2 = ",biner02,oktal02,hexa02)

password3 = 546
biner03 = bin(password3) .replace("0b","")
oktal03 = oct(password3) .replace("0o","")
hexa03 = hex(password3) .replace("0x","")
print("password3 = ",biner03,oktal03,hexa03)

password4 = 125
biner04 = bin(password4) .replace("0b","")
oktal04 = oct(password4) .replace("0o","")
hexa04 = hex(password4) .replace("0x","")
print("password4 = ",biner04,oktal04,hexa04)

password5 = 783
biner05 = bin(password5) .replace("0b","")
oktal05 = oct(password5) .replace("0o","")
hexa05 = hex(password5) .replace("0x","")
print("password5 = ",biner05,oktal05,hexa05)

password6 = 542
biner06 = bin(password6) .replace("0b","")
oktal06 = oct(password6) .replace("0o","")
hexa06 = hex(password6) .replace("0x","")
print("password6 = ",biner06,oktal06,hexa06)

password1 =  1111011 173 7b
password2 =  1100010101 1425 315
password3 =  1000100010 1042 222
password4 =  1111101 175 7d
password5 =  1100001111 1417 30f
password6 =  1000011110 1036 21e

In [11]:
#Jawaban no 4
#D
noHP1 = 81919008448
biner01 = bin(noHP1) .replace("0b","")
oktal01 = oct(noHP1) .replace("0o","")
hexa01 = hex(noHP1) .replace("0x","")
print("noHP1 = ",biner01,oktal01,hexa01)

noHP2 = 81919008229
biner02 = bin(noHP2) .replace("0b","")
oktal02 = oct(noHP2) .replace("0o","")
hexa02 = hex(noHP2) .replace("0x","")
print("noHP2 = ",biner02,oktal02,hexa02)

noHP3 = 81919008112
biner03 = bin(noHP3) .replace("0b","")
oktal03 = oct(noHP3) .replace("0o","")
hexa03 = hex(noHP3) .replace("0x","")
print("noHP3 = ",biner03,oktal03,hexa03)

noHP4 = 81919008779
biner04 = bin(noHP4) .replace("0b","")
oktal04 = oct(noHP4) .replace("0o","")
hexa04 = hex(noHP4) .replace("0x","")
print("noHP4 = ",biner04,oktal04,hexa04)

noHP5 = 81919008002
biner05 = bin(noHP5) .replace("0b","")
oktal05 = oct(noHP5) .replace("0o","")
hexa05 = hex(noHP5) .replace("0x","")
print("noHP5 = ",biner05,oktal05,hexa05)

noHP1 =  1111011 173 7b
noHP2 =  1100010101 1425 315
noHP3 =  1000100010 1042 222
noHP4 =  1111101 175 7d
noHP5 =  1100001111 1417 30f

In [12]:
#Jawaban no 5
#A
def faktorial(a):
   if a == 1:
      return (a)
   else:
      return (a*faktorial(a-1))

bil = int(input("Masukan Bilangan : "))

print("%d! = %d" % (bil, faktorial(bil)))

##Menentukan Bilangan Fibonacci dengan Fungsi Rekursif
def fibonacci(n):
   if n == 0 or n == 1:
      return n
   else:
      return (fibonacci(n-1) + fibonacci(n-2))

x = int(input("Masukan Batas Deret Bilangan Fibonacci : "))
print("Deret Fibonacci")
for i in range(x):
   print(fibonacci(i),end=' ')

Masukan Bilangan : 15
15! = 1307674368000
Masukan Batas Deret Bilangan Fibonacci : 15
Deret Fibonacci
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377

In [13]:
#Jawaban no 5
#B
def faktorial(a):
   if a == 1:
      return (a)
   else:
      return (a*faktorial(a-1))

bil = int(input("Masukan Bilangan : "))

print("%d! = %d" % (bil, faktorial(bil)))

##Menentukan Bilangan Fibonacci dengan Fungsi Rekursif
def fibonacci(n):
   if n == 0 or n == 1:
      return n
   else:
      return (fibonacci(n-1) + fibonacci(n-2))

x = int(input("Masukan Batas Deret Bilangan Fibonacci : "))
print("Deret Fibonacci")
for i in range(x):
   print(fibonacci(i),end=' ')

Masukan Bilangan : 10
10! = 3628800
Masukan Batas Deret Bilangan Fibonacci : 10
Deret Fibonacci
0 1 1 2 3 5 8 13 21 34

In [14]:
#Jawaban no 5
#C
def faktorial(a):
   if a == 1:
      return (a)
   else:
      return (a*faktorial(a-1))

bil = int(input("Masukan Bilangan : "))

print("%d! = %d" % (bil, faktorial(bil)))

##Menentukan Bilangan Fibonacci dengan Fungsi Rekursif
def fibonacci(n):
   if n == 0 or n == 1:
      return n
   else:
      return (fibonacci(n-1) + fibonacci(n-2))

x = int(input("Masukan Batas Deret Bilangan Fibonacci : "))
print("Deret Fibonacci")
for i in range(x):
   print(fibonacci(i),end=' ')

Masukan Bilangan : 12
12! = 479001600
Masukan Batas Deret Bilangan Fibonacci : 12
Deret Fibonacci
0 1 1 2 3 5 8 13 21 34 55 89

In [15]:
#Jawaban no 5
#D
def faktorial(a):
   if a == 1:
      return (a)
   else:
      return (a*faktorial(a-1))

bil = int(input("Masukan Bilangan : "))

print("%d! = %d" % (bil, faktorial(bil)))

##Menentukan Bilangan Fibonacci dengan Fungsi Rekursif
def fibonacci(n):
   if n == 0 or n == 1:
      return n
   else:
      return (fibonacci(n-1) + fibonacci(n-2))

x = int(input("Masukan Batas Deret Bilangan Fibonacci : "))
print("Deret Fibonacci")
for i in range(x):
   print(fibonacci(i),end=' ')

Masukan Bilangan : 21
21! = 51090942171709440000
Masukan Batas Deret Bilangan Fibonacci : 21
Deret Fibonacci
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765

In [ ]:
#Jawaban no 5
#D
def faktorial(a):
   if a == 1:
      return (a)
   else:
      return (a*faktorial(a-1))

bil = int(input("Masukan Bilangan : "))

print("%d! = %d" % (bil, faktorial(bil)))

##Menentukan Bilangan Fibonacci dengan Fungsi Rekursif
def fibonacci(n):
   if n == 0 or n == 1:
      return n
   else:
      return (fibonacci(n-1) + fibonacci(n-2))

x = int(input("Masukan Batas Deret Bilangan Fibonacci : "))
print("Deret Fibonacci")
for i in range(x):
   print(fibonacci(i),end=' ')

Masukan Bilangan : 153
153! = 200634390509568239477828874698911718566246149616161171934231099284840946025238092339613294062603588435530393145048663047173051913507711632216305667129554900620296603188543122491838966881134795135997316305640071571629943041039657861120000000000000000000000000000000000000
Masukan Batas Deret Bilangan Fibonacci : 153
Deret Fibonacci
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946 17711 28657 46368 75025 121393 196418 317811 514229 832040 1346269 2178309 3524578 5702887 9227465 14930352 24157817 39088169 63245986